body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(247, 240, 240);
    color: black;
    line-height: 1.6;
}

.main-page {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 30px black (0,0,0,0.1);
}

h1 {
    text-align: center;
}

.heading-paragraph {
    text-align: center;
}

.passport{
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
